.first-container{
    display: flex;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

#bannerAnchor{
    margin-top: 3rem;
}

.second-container{
    padding-top: 10rem;
    padding-bottom: 5rem;
}

.flex-container{
    display: flex; 
    gap: 20px;
}

.flex-items{
    width: 50%;
}

.quote-form{
    margin-top: 2rem;
}

@media (max-width: 768px) {
    .first-container{
        flex-direction: column-reverse;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
        gap: 20px;
    }
    #bannerAnchor{
        margin-top: 0;
    }

    .second-container{
        padding-top: 5rem;
        padding-bottom: 1rem;
    }
    .flex-container{
        display: block;
    }
    .flex-items{
        width: 100%;
        margin-bottom: 20px;
    }
    .quote-form{
        margin-top: 0px;
    }
    .popup{
        width: 85%;
        padding-inline: 25px;
    }
    .booking-form{
        margin-top: 35px;
    }
    .center-mobile{
        text-align: center;
    }
}