#container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#main{
    flex: 1;
    margin-top: auto;
}

#footer{
    flex-shrink: 0;
    flex-grow: 0;
    flex-basis: 50px;
}

body.noscroll {
    overflow: hidden;
}

#scrollToTopBtn {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 50px;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s, transform 0.3s;
}