.collapsible {
    margin-bottom: 5px;
    overflow: hidden;
    transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
    max-height: 200px;
    opacity: 1;
}

.collapsed {
    max-height: 0;
    opacity: 0;
}

@media (max-width: 768px) {
    .banner-dismiss{
        display: none;
    }
}