.about-container{
    display: flex;
    margin-block: 5rem;
}

.reachOut{
    display: flex;
    justify-content: space-between;
}

@media (max-width: 768px) {
    .about-container{
        flex-direction: column-reverse;
        margin-block: 3rem;
        gap: 20px;
    }
    .reachOut-container{
        margin-top: -3rem;
    }
    .reachOut{
        flex-direction: column;
    }
}