{% extends 'base.html' %}
{% load static %}

{% block title %}About{% endblock title %}

{% block styles %}
  <link rel="stylesheet" href="{% static 'css/component/about.css' %}">
{% endblock styles %}

{% block content %}
  <!-- ABOUT US -->
  {% include "components/about.html" %}

  <!-- REACH OUT -->
  <section class="text-gray-600 body-font">
    <div class="container px-5 mx-auto reachOut-container">
      <div class="flex flex-wrap -m-4">
        <div class="p-4 w-full">
          <div class="h-full bg-gray-100 p-8 rounded">
            <h3 class="title-font sm:text-2xl text-2xl mb-4 font-medium text-gray-900">Feel free to reach out</h3>
            <div class="reachOut">
              <p class="leading-relaxed mb-6">Book Hassle-free services by verified Sehrawat AC Works professionals in your appropriate time slot.</p>
              <div>
                <span class="reachOut">
                  <a href="tel:+918851551033" class="title-font sm:text-1xl text-1xl font-medium leading-relaxed">+91-8851551033</a>
                  <a href="mailto:aadilsehrawat@gmail.com" class="text-indigo-500 leading-relaxed">aadilsehrawat@gmail.com</a>
                </span>
                <p class="text-gray-500 text-sm">Ardee City E-Block Market, Sector-52 Gurugram, HARYANA (122005)</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}